/*=======================================|
    CONTENTS
 |=======================================//

    BASE STYLES
    LAYOUT
    FORMS
      SELECTS
      RADIO BUTTONS
      CHECKBOXES
*/

/*=======================================|
    LAYOUT
 |=======================================*/

main {
	margin: 0 auto;
	width: 50%;
}

/*=======================================|
    FORMS
 |=======================================*/

.field {
	margin: 1em 0;
}

label {
	display: block;
}

.hidden {
	position: absolute;
	left: -999999px;
}

/*===================|
	SELECTS
 |===================*/

.select {
	background: #333;
	border: 1px solid #fff;
	border-radius: 4px;
	color: #fff;
	cursor: default;
	display: inline-block;
	margin: 0;
	min-width: 200px;
	outline: none;
	padding: 0;
	position: relative;
	vertical-align: top;
}

.select.disabled {
	background: #ccc;
}

.select.focused {
	border-color: #38d778;
}

.select.open {
	border-radius: 4px 4px 0 0;
}

.selected-value,
.options .option,
.options .group-label {
	display: block;
	padding: 0.3em 0.7em;
}

.selected-value:after {
	border: 5px solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
	content: "";
	display: block;
	height: 0;
	margin-top: -2px;
	position: absolute;
	right: 0.7em;
	top: 50%;
	width: 0;
}

.select.open .selected-value:after {
	border-bottom: 5px solid;
	border-top: none;
	margin-top: -3px;
}

.options {
	background: #333;
	border-radius: 0 0 4px 4px;
	display: none;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.select.open .options {
	display: block;
}

.options .group-label,
.options .option {
	font-size: 0.9em;
}

.options > .option:last-child,
.options .group .option:last-child {
	border-radius: 0 0 4px 4px;
}

.options .option.selected {
	background: #38d778;
	color: #000;
}

.options .option:hover {
	background: #777;
	color: #fff;
}

.options .group-label {
	background: #444;
	color: #999;
}

.options .group > ul {
	padding: 0;
}

.options .group .option {
	padding-left: 1.4em;
}

.options .option.disabled,
.options .group.disabled .option {
	color: #666;
}

.options .option.disabled:hover,
.options .group.disabled .option:hover {
	background: inherit;
}

/*===================|
	RADIO BUTTONS
 |===================*/

input[type="radio"] + label {
	display: inline-block;
}

.radio + label {
	display: inline-block;
	vertical-align: top;
}

.radio {
	background: #ededed;
	border: 1px solid #333;
	border-radius: 50%;
	display: inline-block;
	height: 16px;
	position: relative;
	width: 16px;
}

.radio.disabled {
	border-color: #ccc;
}

.radio.focused:before {
	border: 1px solid #38d778;
	border-radius: 50%;
	content: "";
	display: block;
	height: 18px;
	left: 50%;
	margin: -10px 0 0 -10px;
	position: absolute;
	top: 50%;
	width: 18px;
}

.radio.selected:after {
	background: #666;
	border-radius: 50%;
	content: "";
	display: block;
	height: 10px;
	left: 50%;
	margin: -5px 0 0 -5px;
	position: absolute;
	top: 50%;
	width: 10px;
}

.radio.disabled.selected:after {
	background: #999;
}

/*===================|
	CHECKBOXES
 |===================*/

input[type="checkbox"] + label {
	display: inline-block;
}

.checkbox + label {
	display: inline-block;
	vertical-align: top;
}

.checkbox {
	background: #ededed;
	border: 1px solid #333;
	border-radius: 2px;
	color: #666;
	display: inline-block;
	height: 16px;
	position: relative;
	width: 16px;
}

.checkbox.disabled {
	border-color: #ccc;
	color: #999;
}

.checkbox.focused:before {
	border: 1px solid #38d778;
	border-radius: 2px;
	content: "";
	display: block;
	height: 18px;
	left: 50%;
	margin: -10px 0 0 -10px;
	position: absolute;
	top: 50%;
	width: 18px;
}

.checkbox.selected:after {
	content: "\e800";
	display: block;
	font-family: fontello;
	height: 15px;
	left: 0;
	line-height: 15px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 16px;
}